*{
	margin:0px;
	padding:0px;
}
html,body{
	width:100%;
	overflow:hidden;
	scrollbar-base-color:       #fff;
	scrollbar-arrow-color:      #fff;
	scrollbar-track-color:      #fff;
	scrollbar-3dlight-color:    #fff;
	scrollbar-highlight-color:  #fff;
	scrollbar-face-color:       #fff;
	scrollbar-shadow-color:     #fff;
	scrollbar-darkshadow-color: #fff;
	
}

.box{
	
	height:250px;
	border:1px solid #eee;
	margin:0 auto;
	-webkit-box-shadow:1px 2px 1px 1px #ccc;
	overflow: auto;
	
	
}
.hengxiang{
	width:400%;
	height:250px;
	background-color:#000099;
	color:#0000FF;
}

li{
	height:250px;
	width:20px;
	background-color:yellow;
	float: left;
	margin-left: 5px;
	list-style: none;
}
