<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>Vue</title>
    <script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>  
</head>
<style>
	.class1{
  	background: #444;
  	color: #eee;
	}
</style>
<body>
	<!--数据绑定-->
	<!--模板语法-插值改变内容-->
	<div id="app">
		<p>{{message}}</p>
	</div>
	<!--模板语法-插值v-html-->
	<div id="appa">
		<div v-html="message"></div>
	</div>	
	
	
	
<!--HTML属性中的值使用v-bind指令
一下判断class的值，如果为true则使用class1类的样式，，否则不适用该类-->
<div id="appb">
  <label for="r1">修改颜色背景</label><input type="checkbox" v-model="class1" id="r1"><br />
  
  <br><br>
  <div v-bind:class="{'class1': class1}">
    directive v-bind:class 改变此处背景颜色 
  </div>
</div>
	
<!--表达式-->
<div id="appc">
	{{5+5}} <br />
	{{ok?'yes':'no'}} <br />
	{{message.split('').reverse().join('')}}<br />
	<div v-bind:id="'list-'+id">asdf</div>
	
</div>

<!--指令-->
<!--指令用于在表达式的值改变时，将某些星闻应用到DOM上-->
<div id="appd">
	<p v-if="seen">now you can see  me</p>
	
</div>
<!--参数-->
<!--参数在指令后以冒号指明-->
<!--这里href是参数，告知v-bind指令将该元素href属性与表达式URL绑定-->
<!--还有一个例子是v-on指令，他用于坚挺dom事件-->
<div id="appe">
	<pre><a v-bind:href="url">参数</a></pre>
</div>

<div id="appf">
	<pre><a v-on:click="funa()">CLICK ME</a></pre>
</div>
<!--修饰符
修饰符是以半角句号 . 指明的特殊后缀，用于指出一个指定应该以特殊方式绑定。例如，.prevent 修饰符告诉 v-on 指令对于触发的事件调用 event.preventDefault()：-->
<form v-on:submit.prevent="onSubmit"></form>
<!--用户输入-->
<!--在input输入框中可以使用v-model来实现双向绑定-->
<div id="appg">
	<p>{{message}}</p>
	<input v-model="message" type="text"/>
</div>
<!--反转字符串实例-->
<div id="apph">
	<p>{{msg}}</p>
	<button  v-on:click="reverse()">反转字符串</button>
</div>

<fieldset id="">
	<legend>123</legend>
	
	
</fieldset>



<command>sd</command>

<dialog>sds</dialog>
</body>
<script type="text/javascript" src="../js/vuerun.js" charset="utf-8"></script>
</html>